@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

title {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 5rem !important;
}

body {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23FF0000" stroke="%23FF0000" width="20px" height="20px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 10 10, auto;

  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
}
/* a {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23FF0000" stroke="%23FF0000" width="10px" height="10px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>') 15 15, auto;
}
.btn {
  cursor: pointer;
} */

p {
 font-family: "Satoshi", "Satoshi Placeholder", sans-serif;
}
.title1 {
  font-family: "Satoshi", "Satoshi Placeholder", sans-serif;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1.1em;
}
.italic1 {
  font-family: "Instrument Serif", "Instrument Serif Placeholder", serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0em;
}
